<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Atividade: Nova</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <header th:include="cabecalho :: header"></header>

    <ul class="nav nav-pills mb-3">
        <li class="nav-item"><a class="nav-link" href="/">Página Inicial</a></li>
        <li class="nav-item"><a class="nav-link" href="/atendimento">Voltar</a></li>
    </ul>

    <form th:action="@{salvar}" th:object="${atendimento}" method="POST">
    
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Atendente Responsável:</legend>
                    <div class="col-sm-10">
                        <div class="form-check" th:each="atendente: ${atendentes}" th:object=${Atendente}>
                            <input class="form-check-input" type="radio" th:value="${atendente.id}" name="atendente">
                            <label class="form-check-label" th:text="${atendente.nomeCompleto}"></label>
                        </div>
                    </div>
            </div>
        </fieldset>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Descrição:</label>
                <div class="form-group mx-sm-1 mb-2">
                    <input class="form-control" placeholder="Digite uma descrição" type="text" th:field="*{descricao}" />
                </div>
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Categorias:</legend>
                    <div class="col-sm-10">
                        <div class="form-check" th:each="categoria: ${categorias}" th:object=${Categoria}>
                            <input class="form-check-input" type="radio" th:value="${categoria.id}" name="categoria">
                            <label class="form-check-label" th:text="${categoria.titulo}"></label>
                        </div>
                    </div>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Usuários:</legend>
                    <div class="col-sm-10">
                        <div class="form-check" th:each="usuario: ${usuarios}" th:object=${Usuario}>
                            <input class="form-check-input" type="radio" th:value="${usuario.id}" name="usuario">
                            <label class="form-check-label" th:text="${usuario.nomeCompleto}"></label>
                        </div>
                    </div>
            </div>
        </fieldset>

        <span th:text="${erro}"></span>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Iniciar</button>
                <button type="reset" class="btn btn-primary">Limpar</button>
            </div>
        </div>

    </form>
</body>
</html>

